* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.cardsContainer {
  margin: 5vh;
  border-radius: 6px;
  overflow: hidden;
  background-size: cover;

  cursor: default;
  transition: all 400ms ease;
  gap: 25px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 25px;
}
@media (min-width: 960px) {
  .cardsContainer {
    flex-direction: row;
  }
}
.cards__container:hover {
  box-shadow: 5px 5px 20px rgba(0 0 0 0.4);
  transform: translateY(-3%);
}
.cards__img {
  width: 100%;
  height: 210px;
}
.cards__info {
  padding: 15px;
  text-align: center;
}
.card__title {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 15px;
  color: rgb(239, 213, 213);
}
.card__text {
  font-family: "Roboto";
  font-size: 200;
  line-height: 1.5;
  color: rgb(239, 213, 213);
}

.card__link {
  text-decoration: none;
  display: inline-block;
  border: 1px solid;
  border-radius: 4px;
  transition: all 400ms ease;
  color: #2fb4cc;
}
.card__link:hover {
  background: #2fb4cc;
  color: #fff;
}

.portafolio__card {
  background-color: #510f55;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg fill-opacity='0.83'%3E%3Ccircle fill='%23510F55' cx='50' cy='0' r='50'/%3E%3Cg fill='%23650b57' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23780658' cx='50' cy='100' r='50'/%3E%3Cg fill='%238a0256' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%239b0253' cx='50' cy='200' r='50'/%3E%3Cg fill='%23ac084f' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ba1649' cx='50' cy='300' r='50'/%3E%3Cg fill='%23c72441' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23d23439' cx='50' cy='400' r='50'/%3E%3Cg fill='%23db442e' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23e25421' cx='50' cy='500' r='50'/%3E%3Cg fill='%23e6660c' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23e87700' cx='50' cy='600' r='50'/%3E%3Cg fill='%23e78800' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23e49a00' cx='50' cy='700' r='50'/%3E%3Cg fill='%23deab00' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23d5bd00' cx='50' cy='800' r='50'/%3E%3Cg fill='%23c9ce00' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23bade00' cx='50' cy='900' r='50'/%3E%3Cg fill='%23a7ef00' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%238DFF13' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: contain;
  align-items: center;
  box-shadow: 41px 30px 52px 26px rgba(0, 0, 0, 0.55);
  -webkit-box-shadow: 41px 30px 52px 26px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 41px 30px 52px 26px rgba(0, 0, 0, 0.55);

  border: solid 5px black;
  border-radius: 9px;
  height: 45vh;
  width: 35vh;
  text-align: center;
}

.portafolio__card-img {
  height: 15rem;
  width: 15rem;
}
.portafolio__card-title {
  text-align: center;
  margin: 0;
}
.portafolio__card-text {
  margin: 0;
  text-align: center;
}
.portafolio__card-link {
  margin: 0;
}
