* {
  box-sizing: border-box;
}

.portafolio__conteiner {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
@media (min-width: 960px) {
  .portafolio__conteiner {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
  }
}
.portafolio__card {
  align-items: center;

  border: solid 5px black;
  border-radius: 9px;
  height: 45vh;
  width: 35vh;
  text-align: center;
}

.portafolio__card-img {
  height: 15rem;
  width: 15rem;
}
.portafolio__card-title {
  text-align: center;
  margin: 0;
}
.portafolio__card-text {
  margin: 0;
  text-align: center;
}
.portafolio__card-link {
  margin: 0;
}
