* {
  box-sizing: border-box;
}
.field {
  background: rgb(54, 179, 205);
  background: linear-gradient(
    150deg,
    rgba(54, 179, 205, 0.9476190134256828) 0%,
    rgba(9, 121, 119, 0.4350139714088761) 41%,
    rgba(1, 20, 100, 1) 84%
  );
  border-radius: 5px;
  margin: 5%;
}

@media (min-width: 960) {
  .field {
  }
}
.button {
  margin-top: 15px;
}

.conteinerform__title {
  font-size: 30px;
  text-align: center;
  color: aliceblue;
  margin-bottom: 40px;
}
@media (min-width: 960) {
  .conteinerform__title {
    font-size: 50px;
  }
}
