* {
  box-sizing: border-box;
}

.conteinerform {
  background-attachment: fixed;

  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
@media (min-width: 960px) {
  .conteinerform {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}

.field {
  background: rgba(54, 180, 205, 0.949);
  border-radius: 5px;
  height: 75vh;
  width: 90vh;
}

@media (max-width: 960px) {
  .field {
    align-items: center;
    height: 50vh;
    width: 48vh;
  }
}
.button {
  margin-top: 5vh;
}

.conteinerform__title {
  text-align: center;
  color: rgb(63, 51, 198);
  font-size: 50px;
}
@media (min-width: 960px) {
  .conteinerform__title {
    text-align: right;
    padding: auto;
  }
}
