* {
  box-sizing: border-box;
}
.body {
  background-image: url("../style-img-logo-etc/DALL·E\ 2022-10-30\ 14.50.24.png");
  padding: 0;
  margin: 0%;
  width: 100%;
}
.headerContainer {
  height: 15vh;
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcom__title {
  font-family: "Roboto";
  font-size: 50px;
  color: #011464;
}
.hero-body {
  height: 100vh;
  text-align: center;
}
.hero__title {
  color: #011464;
  font-size: 70px;
}

.hero__text {
  color: #011464;
}
.hero__subtitle {
  color: #011464;
  font-size: 40px;
}
.hero__img {
  height: 100px;
  width: 100px;
}

.cardsContainer {
  display: flex;
  justify-content: center;
  height: 100vh;
}
.conteinerform {
  height: 100vh;
}
@media (min-width: 960px) {
  .conteinerform {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
.conteinerform__title {
  text-align: center;
  color: aliceblue;
  font-size: 50px;
}
