* {
  box-sizing: border-box;
}
.body {
  margin: 0;
  padding: 0;

  background-image: url("../style-img-logo-etc/DALL·E\ 2022-10-30\ 14.50.24.png");
}

.portafolio {
  margin: 0;
  padding: 0;
  fill-opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  margin-bottom: 15vh;
  background: #f0f8ff1f;
}

@media (min-width: 960px) {
  .portafolio {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
.portafolio__hero {
  margin-bottom: 20px;
}
/* .portafolio__hero-title {
  text-align: center;
  font-size: 40px;
  margin: 0;
} */
