* {
  box-sizing: border-box;
}
.body {
  margin: 0;
  padding: 0;
  background-image: url("../style-img-logo-etc/servicio-img.png");
  background-attachment: fixed;
  background-size: cover;
}
.headerContainer {
  height: 15vh;
}
.servicios {
  display: flex;
  justify-content: center;
  width: 100%;
}
.servicios__title {
  margin: 0;
  font-family: "Roboto";
  font-size: 55px;
  height: 25vh;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 50px;
  text-align: center;
  color: aliceblue;
  text-shadow: 42px 32px 8px rgba(0, 0, 0, 0.6);
}
